
.weatherDashboard {
    border: 2px solid red;
}
h1 {
    text-align: center;
}


.mainCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
}

#locationForm input, #locationForm label {
    display: block;
}

#locationForm label{
    margin-bottom: 15px;
}